@import '../../../consts/variables.scss';

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    &__button {
        background-color: $backCard;
        color: $fontBlue;
        font-weight: bold;
        border: 1px solid $fontBlue;
        margin-right: 2px;
        border-radius: $borderRadius;
    }
    &__button:focus {
        background-color: rgb(180, 172, 99);
    }
}
