@font-face {
  font-family: 'Creepster';
  src: 'https://fonts.googleapis.com/css2?family=Creepster&family=Hanalei+Fill&display=swap';
  font-weight: normal;
}

html, body, #root {
  background: url('../src/assets/images/planets.jpg');
  height: 100%;
  font-family: 'Creepster', cursive;
  font-weight: 700;
}

body {
  margin: 0;
}

